
<div class=" container-fluid footer">
    <div class="row">

        <div class="col-lg-6">
            <h1>BEBEBOO</h1>
            <p>TRY @ FIRST SIGHT</p>
        </div>
        <div class="col-lg-4">
            <a routelink="">HOME</a>
            <a routelink="">KIDOBOYS</a>
            <a routelink="">KIDOGIRLS</a>
            <a routelink="">ACCESSORIES</a>
            <a routelink="">CONTACT</a>
        </div>
        <div class="col-lg-2">
            <a href=" # " traget="_blank"><i class="bi bi-facebook"></i></a>
            <a href=" # " traget="_blank"><i class="bi bi-instagram"></i></a>
            <a href=" # " traget="_blank"><i class="bi bi-twitter"></i></a>
            <a href=" # " traget="_blank"><i class="bi bi-envelope"></i></a>
        </div>

    </div>

</div>
