<div class="container">    
    <div class="row">       
      <div class ="col-md-6">
        <div class="card">
          <div class="text-center">
                <h1>SIGN UP</h1>
                <h2>Register YouSelf!</h2>
          </div>
            <form >
                <div class="mb-3" >
                   <label for="exampleInputEmail"class="form-label">Full Name :</label>
                   <input type="text"class="form-control"id="exampleInputName" >  
                </div>
  
                <div class="mb-3" >
                  <label for="exampleInputPassword"class="form-label">Mobile Number :</label>
                  <input type="number"class="form-control"id="exampleInputnumber" >
                </div>

                <div class="mb-3" >
                    <label for="exampleInputEmail"class="form-label">Email Address :</label>
                    <input type="email"class="form-control"id="exampleInputEmail" >  
                 </div>

                 <div class="mb-3" >
                    <label for="exampleInputPassword"class="form-label">Password :</label>
                    <input type="password"class="form-control"id="exampleInputpassword" >
                  </div>
               <button type="submit" class="btn btn-primary">Sign Up</button><br>
            </form>
            <a style="color: whitesmoke;margin-top: 10px;"routerLink="/login">Registered ? Click To Login </a><br>
        </div>
    </div>
  </div>
  

