
.navbar h1
{
    font-family:"Titillium Web" sans-serif;
    font-style:normal;
    color: goldenrod;
    font-size: 30px;
    
}
.navbar-light .navbar-nav .nav-link
{
    color:var(--primary-color);
    font-family:"Titillium Web" sans-serif;
    font-size: 20px;
}
.navbar p
{
    color:var(--primary-color);
    font-family:"Titillium Web" sans-serif;
    font-size: 20px;
}
