<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <div class="col-lg-6">
        <h1>BEBEBOO</h1>
        <p>TRY @ FIRST SIGHT</p>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link" >HOME</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="kidoboys" routerLinkActive="active-link" role="button" aria-expanded="false">KIDOBOYS</a>       
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="branch">JUMPSUITS</a></li>
              <li><a class="dropdown-item" routerLink="student">SETS</a></li>
              <li><a class="dropdown-item" routerLink="student">HOODIE</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="kidogirls" routerLinkActive="active-link" role="button" aria-expanded="false">KIDOGIRLS</a>       
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="branch">BODYSUITS</a></li>
              <li><a class="dropdown-item" routerLink="student">SKIRTS&SHORTS</a></li>
              <li><a class="dropdown-item" routerLink="student">PARTYWEAR</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="accessories" routerLinkActive="active-link"role="button" aria-expanded="false">ACCESSORIES</a>       
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="branch">SHOES</a></li>
              <li><a class="dropdown-item" routerLink="student">MASKS</a></li>
              <li><a class="dropdown-item" routerLink="student">TOODII</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active-link">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
